body {
    font-family: sans-serif;
    margin: 0;
}

main {
    padding: 22px;
}

.nav-menu {
    background-color: #333;
    color: white;
    padding: 10px;
    position: relative;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #444;
}

.menu .link {
    text-decoration: none;
    color: white;
    padding: 15px;
    display: block;
}

.menu li {
    width: 100%;
}

.menu .link:hover,
.menu .link:focus {
    background-color: rgba(154, 154, 154, 0.466);
}

.hamburguer-button {
    display: none;
    border: none;
    color: white;
    background-color: #333;
    font-size: 24px;
    padding: 5px;
    cursor: pointer;
}

.hamburguer-button .icon {
    display: inline-block;
    text-align: center;
    width: 20px;
    padding-right: 4px;
}

.hamburguer-button[aria-expanded=false] .icon::before {
    content: "\2630";
}

.hamburguer-button[aria-expanded=true] .icon::before {
    content: "\2715";
}

.hamburguer-button-js-enable {
    display: block;
}

.hamburguer-button-js-enable+.menu {
    display: flex;
    flex-direction: column;
    width: calc(100% - 30px);
    left: 20px;
    top: 60px;
    position: absolute;
}

.hamburguer-button-js-enable+.menu-closed {
    display: none;
}

@media (min-width: 768px) {
    .hamburguer-button {
        display: none;
    }

    .hamburguer-button-js-enable+.menu {
        position: static;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        width: auto;
    }
}